@import "tailwindcss";
/*#331c08    664c36*/
/* Light Mode */
/* :root {
    --background: #422701; 
    --foreground: #705e46; 
    --accent: #c6c0b9; 
  } */

/* :root {
    --background: #0b2e33; 
    --foreground: #4f7c82;
    --accent: #4f7c82; 
  } */
/* :root {
    --background: #292966; 
    --foreground: #5c5c99; 
    --accent: #ccccff; 
  } */
:root {
  --background: #f0f4f8; /* soft light blue */
  --foreground: #202b3f; /* charcoal gray */
  --accent: #d4af37; /* rich gold */
  --heading-font: var(--font-inter);
  --body-font: var(--font-roboto-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-heading: var(--heading-font);
  --font-sans: var(--body-font);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a192f; /* deep navy blue */
    --foreground: #e2e8f0; /* light gray */
    --accent: #ffd700; /* gold */
  }
}

/* body {
  background: var(--background) url("/IMG_8403.JPG") no-repeat center/cover;
  color: var(--foreground);
  font-family: var(--body-font);
  transition: all 0.3s ease;
} */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  display: flex;
  width: max-content; 
  animation: scroll 40s linear infinite;
}


body {
  cursor: url('/logo1.png') 0 0, auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}